
*.asv

*.awi

*.fig

*.xls

*.aux

*.bbl

*.blg

*.log*

*.pdf

SelfTest/

*.bdf

*.dat

Models/FAME/

BaselineTrimResults.mat

*.f04*

*.f06*

*.h5*

*.xdb*

FEX/geom3d-2019.09.26/

FEX/SurfaceIntersection/

*.sts*

bin/*

*/bin/**

.vscode/
